
<div ng-controller="BuildRunsController as ctrl">
  <ul class="cci-br-ul">
    <li class="cci-br-li cci-br-header">
      <div class="cci-br-common-header">
        <div>Changelist</div>
        <div>Owner</div>
        <div>Time Started</div>
        <div>Build</div>
        <div>Unit Test</div>
        <div>Functional Test</div>
      </div>
      <div class="cci-br-status-header">
        <div>Status</div>
      </div>
    </li>
    <li ng-repeat="(key, buildRun) in runs" ng-class="ctrl.getStatusClassLi(buildRun.status.code)" ng-click="ctrl.expand(buildRun)" class="cci-br-li">
      <div class="cci-br-common">
        <div class="cci-br-summary">
          <div class="cci-br-changelist-cell">{{buildRun.changelist}}</div>
          <div>{{buildRun.owner.name}}</div>
          <div>{{buildRun.timeStarted  | date:'M / dd / yyyy'}} <i class="fa fa-clock-o"></i> {{buildRun.timeStarted  | date:'h:mm a'}}</div>
          <div class="cci-br-step-info">
            <div class="cci-br-step-wrapper">
              <div ng-class="ctrl.getStatusColorClass(buildRun.buildStep.status.code)"></div>
            </div>
            <div class="cci-br-step-progress-wrapper">
              <div class="cci-br-step-progress"></div>
            </div>
            <div class="cci-br-step-wrapper">
              <div></div>
            </div>
            <div class="cci-br-step-progress-wrapper">
              <div class="cci-br-step-progress"></div>
            </div>
            <div class="cci-br-step-wrapper">
              <div></div>
            </div>
          </div>
        </div>
        <div build-run-detailed="" build-run="buildRun"></div>
      </div>
      <div class="cci-br-status">
        <div ng-hide="buildRun.isExpanded" class="cci-br-summary">
          <div ng-class="ctrl.getStatusColorClass(buildRun.status.code)" class="cci-br-status-cell"><span ng-class="ctrl.getStatusIconClass(buildRun.status.code)" class="fa"></span> {{buildRun.status.name}}</div>
        </div>
        <div ng-show="buildRun.isExpanded" class="cci-br-detailed">
          <div ng-class="ctrl.getStatusColorClass(buildRun.status.code)" class="cci-br-status-cell"><span ng-class="ctrl.getStatusIconClass(buildRun.status.code)" class="fa"></span> {{buildRun.status.name}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>