
<div ng-controller="BuildRunsController as ctrl">
  <ul class="cci-br-ul">
    <li class="cci-br-li cci-br-header">
      <div class="cci-br-common-header">
        <div>Changelist</div>
        <div>Owner</div>
        <div>Time Started</div>
        <div>Build</div>
        <div>Unit Test</div>
        <div>Functional Test</div>
      </div>
      <div class="cci-br-status-header">
        <div>Status</div>
      </div>
    </li>
    <li build-run-li="" ng-repeat="(key, buildRun) in runs" build-run="buildRun" ng-class="getStatusClassLi(buildRun.status.code)" ng-click="ctrl.expand(buildRun)" class="cci-br-li"></li>
  </ul>
</div>