
<div ng-controller="BuildRunsController as ctrl">
  <ul class="cci-br-ul">
    <li class="cci-br-li cci-br-header">
      <div class="cci-br-common-header">
        <div>Changelist</div>
        <div>Owner</div>
        <div>Time Started</div>
        <div>Build</div>
        <div>Unit Test</div>
        <div>Functional Test</div>
      </div>
      <div class="cci-br-status-header">
        <div>Status</div>
      </div>
    </li>
    <li ng-repeat="(key, buildRun) in runs" ng-class="ctrl.getStatusClass(buildRun)" ng-click="ctrl.expand(buildRun)" class="cci-br-li">
      <div class="cci-br-common">
        <div class="cci-br-summary">
          <div>{{buildRun.changelist}}</div>
          <div>{{buildRun.owner.name}}</div>
          <div>{{buildRun.timeStarted  | date:'M / dd / yyyy @ h:mm a'}}</div>
          <div class="cci-br-step-info">
            <div class="cci-br-step-wrapper">x</div>
            <div class="cci-br-step-progress-wrapper">
              <div class="cci-br-step-progress"></div>
            </div>
            <div class="cci-br-step-wrapper">x</div>
            <div class="cci-br-step-progress-wrapper">
              <div class="cci-br-step-progress"></div>
            </div>
            <div class="cci-br-step-wrapper">x</div>
          </div>
        </div>
        <div ng-show="buildRun.isExpanded" class="cci-br-detailed">
          <div>
            <div>
              <p>Build [v]</p>
              <p>3:14 am</p>
            </div>
            <div>
              <div></div>
              <p><a href="#">debug</a></p>
            </div>
            <div>
              <div></div>
              <p><a href="#">release</a></p>
            </div>
          </div>
          <div>x</div>
          <div>
            <div>
              <p>Unit Test [v]</p>
              <p>88%</p>
            </div>
            <div>
              <div></div>
            </div>
            <div>
              <p>[] 342</p>
              <p>[] 3</p>
              <p>@ 4:30</p>
            </div>
          </div>
          <div>x</div>
          <div>
            <div>
              <p>Unit Test [v]</p>
              <p>88%</p>
            </div>
            <div>
              <div></div>
            </div>
            <div>
              <p>[] 342</p>
              <p>[] 3</p>
              <p>@ 4:30</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cci-br-status">
        <div class="cci-br-summary">
          <div>{{buildRun.status}}</div>
        </div>
        <div class="cci-br-detailed">
          <div>{{buildRun.status}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>