@import 'bourbon';
@import 'neat';
@import '../mixins/positioning';

$status-default-color: rgb(210, 210, 210);
$status-pending-color: rgb(248, 172, 89);
$status-running-color: rgb(28, 132, 198);
$status-passed-color: rgb(26, 179, 148);
$status-failed-color: rgb(237, 85, 101);

.cci-status-failed {
  border-left-color: $status-failed-color !important;
}

ul.cci-br-ul {
  list-style: none;

  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $dark-gray: #444 !default;
  $base-font-color: $dark-gray !default;
  $base-font-size: 12px;
  $header-font-size: 13px;
  $header-font-weight: bolder;
  $header-row-height: 48px;
  $row-height: 64px;

  @include outer-container;

  color: $base-font-color;

  li.cci-br-li {
    @include clearfix;
    text-align: left;
    margin: 0;

    border: none;
    border: 1px solid $base-border-color;
    background-color: $table-background;
    border-bottom-width: 0;

    border-left-color: $base-border-color;
    border-left-width: 10px;

    font-size: $base-font-size;

    &:last-child {
      border-bottom-width: 1px;
    }

    &.cci-br-header {
      font-weight: $header-font-weight;
      font-size: $header-font-size;

      div.cci-br-common-header {
        @include span-columns(10.5);
        height: $header-row-height;

        div {
          padding: 5px;

          &:nth-child(1) {
            @include span-columns(2);
          }
          &:nth-child(2) {
            @include span-columns(1.5);
          }
          &:nth-child(3) {
            @include span-columns(2.5);
          }
          &:nth-child(4) {
            @include span-columns(2);
          }
          &:nth-child(5) {
            @include span-columns(2);
          }
          &:nth-child(6) {
            @include span-columns(2);
          }
        }
      }

      div.cci-br-status-header {
        @include span-columns(1.5);
        height: $header-row-height;

        div {
          padding: 5px;
          @include span-columns(12);
        }
      }
    }

    div.cci-br-common {
      @include span-columns(10.5);
      @include clearfix;

      div.cci-br-summary {
        height: $row-height;
        div {
          @include vertical-align();
          padding: 5px;

          &:nth-child(1) {
            @include span-columns(2);
          }
          &:nth-child(2) {
            @include span-columns(1.5);
          }
          &:nth-child(3) {
            @include span-columns(2.5);
          }
          &:nth-child(4) {
            @include span-columns(6);
          }

          &.cci-br-step-info {
            div.cci-br-step-wrapper {
              display: inline-block;
              width: 32px;
              height: 32px;
              background-color: grey;
            }
            div.cci-br-step-progress-wrapper {
              display: inline-block;
              height: 20px;
              background-color: grey;
            }
          }
        }
      }

      div.cci-br-detailed {
        padding: 5px;
        @include clearfix;

        div {
          &:nth-child(1) {
            @include span-columns(3);
          }
          &:nth-child(2) {
            @include span-columns(1);
          }
          &:nth-child(3) {
            @include span-columns(3);
          }
          &:nth-child(4) {
            @include span-columns(1);
          }
          &:nth-child(5) {
            @include span-columns(4);
          }
        }
      }
    }

    div.cci-br-status {
      @include span-columns(1.5);
      div.cci-br-summary {
        height: $row-height;
        div {
          @include span-columns(12);
        }
      }

      div.cci-br-detailed {
        div {
          @include span-columns(12);
        }
      }
    }

  }
}
