@import 'bourbon';
@import 'neat';
@import '../mixins/positioning';

$status-default-color: rgb(210, 210, 210);
$status-pending-color: rgb(248, 172, 89);
$status-running-color: rgb(28, 132, 198);
$status-passed-color: rgb(26, 179, 148);
$status-failed-color: rgb(237, 85, 101);

$status-colors-list: $status-default-color, $status-pending-color, $status-running-color, $status-passed-color, $status-failed-color;
$statuses-list: "default", "pending", "running", "passed", "failed";

@mixin cci-li-status($color){
  border-left-color: $color !important;
}

@each $current-status in $statuses-list {
    $i: index($statuses-list, $current-status);
    .cci-li-status-#{$current-status} {
      @include cci-li-status(nth($status-colors-list, $i));
    }
    .cci-status-#{$current-status} {
      color: nth($status-colors-list, $i);
    }
}

ul.cci-br-ul {
  list-style: none;

  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $dark-gray: #444 !default;
  $base-font-color: $dark-gray !default;
  $base-font-size: 12px;
  $header-font-size: 13px;
  $header-font-weight: bolder;
  $header-row-height: 48px;
  $row-height: 64px;

  @mixin header-text {
    font-size: $header-font-size;
    font-weight: $header-font-weight;
  }

  @mixin cell-padding {
    padding: 5px;
  }

  @include outer-container;

  color: $base-font-color;

  li.cci-br-li {
    @include clearfix;
    text-align: left;
    margin: 0;

    border: none;
    border: 1px solid $base-border-color;
    background-color: $table-background;
    border-bottom-width: 0;

    border-left-color: $base-border-color;
    border-left-width: 10px;

    font-size: $base-font-size;

    &:last-child {
      border-bottom-width: 1px;
    }

    &.cci-br-header {
      @include header-text();

      div.cci-br-common-header {
        @include span-columns(10.5);
        height: $header-row-height;

        div {
          @include cell-padding();
          @include vertical-align();

          &:nth-child(1) {
            padding-left: 30px;
            @include span-columns(2);
          }
          &:nth-child(2) {
            @include span-columns(1.5);
          }
          &:nth-child(3) {
            @include span-columns(2.5);
          }
          &:nth-child(4) {
            @include span-columns(2);
          }
          &:nth-child(5) {
            @include span-columns(2);
          }
          &:nth-child(6) {
            @include span-columns(2);
          }
        }
      }

      div.cci-br-status-header {
        @include span-columns(1.5);
        height: $header-row-height;

        div {
          @include cell-padding();
          @include vertical-align();
        }
      }
    }

    div.cci-br-common {
      @include span-columns(10.5);
      @include clearfix;

      div.cci-br-summary {
        height: $row-height;
        div {
          @include cell-padding();
          @include vertical-align();

          &:nth-child(1) {
            padding-left: 30px;
            @include span-columns(2);
          }
          &:nth-child(2) {
            @include span-columns(1.5);
          }
          &:nth-child(3) {
            @include span-columns(2.5);
          }
          &:nth-child(4) {
            @include span-columns(6);
          }

          &.cci-br-changelist-cell {
            @include header-text();
          }

          &.cci-br-step-info {
            div.cci-br-step-wrapper {
              display: inline-block;
              width: 32px;
              height: 32px;
              background-color: grey;
            }
            div.cci-br-step-progress-wrapper {
              display: inline-block;
              height: 20px;
              background-color: grey;
            }
          }
        }
      }

      div.cci-br-detailed {
        @include clearfix;

        div {
          @include cell-padding();

          &:nth-child(1) {
            @include span-columns(3);
          }
          &:nth-child(2) {
            @include span-columns(1);
          }
          &:nth-child(3) {
            @include span-columns(3);
          }
          &:nth-child(4) {
            @include span-columns(1);
          }
          &:nth-child(5) {
            @include span-columns(4);
          }
        }
      }
    }

    div.cci-br-status {
      @include clearfix;
      @include span-columns(1.5);
      
      div.cci-br-summary {
        height: $row-height;
        div {
          @include vertical-align();
          @include span-columns(12);

          &.cci-br-status-cell {
            @include header-text();
          }
        }

        span.fa {
          font-size: 1.5em;
        }
      }

      div.cci-br-detailed {
        div {
          @include vertical-align();
          @include span-columns(12);

          &.cci-br-status-cell {
            @include header-text();
          }
        }

        span.fa {
          font-size: 1.3em;
        }
      }
    }

  }
}
