@import 'bourbon';
@import 'neat';
@import '../mixins/positioning';

$status-default-color: rgb(210, 210, 210);
$status-pending-color: rgb(248, 172, 89);
$status-running-color: rgb(28, 132, 198);
$status-passed-color: rgb(26, 179, 148);
$status-failed-color: rgb(237, 85, 101);

$status-colors-list: $status-default-color, $status-pending-color, $status-running-color, $status-passed-color, $status-failed-color, $status-failed-color;
$statuses-list: "default", "pending", "running", "passed", "failed", "cant-run";

@mixin cci-li-status($color){
  border-left-color: $color !important;
}

@each $current-status in $statuses-list {
    $i: index($statuses-list, $current-status);
    .cci-li-status-#{$current-status} {
      @include cci-li-status(nth($status-colors-list, $i));
    }
    .cci-status-#{$current-status} {
      color: nth($status-colors-list, $i);
    }
}

ul.cci-br-ul {
  list-style: none;

  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $dark-gray: #444 !default;
  $base-font-color: $dark-gray !default;
  $base-font-size: 12px;
  $header-font-size: 13px;
  $header-font-weight: bolder;
  $header-row-height: 48px;
  $row-height: 64px;

  @mixin header-text {
    font-size: $header-font-size;
    font-weight: $header-font-weight;
  }

  .header-text {
    @include header-text();
  }

  @mixin cell-padding {
    padding: 5px;
  }

  @include outer-container;

  color: $base-font-color;

  li.cci-br-li {
    @include clearfix;
    text-align: left;
    margin: 0;

    border: none;
    border: 1px solid $base-border-color;
    background-color: $table-background;
    border-bottom-width: 0;

    border-left-color: $base-border-color;
    border-left-width: 10px;

    font-size: $base-font-size;

    &:last-child {
      border-bottom-width: 1px;
    }

    &.cci-br-header {
      @include header-text();

      div.cci-br-common-header {
        @include span-columns(10.5);
        height: $header-row-height;

        > div {
          @include cell-padding();
          @include vertical-align();

          &:nth-child(1) {
            padding-left: 30px;
            @include span-columns(2);
          }
          &:nth-child(2) {
            @include span-columns(1.5);
          }
          &:nth-child(3) {
            @include span-columns(2.5);
          }
          &:nth-child(4) {
            @include span-columns(2);
          }
          &:nth-child(5) {
            @include span-columns(2);
          }
          &:nth-child(6) {
            @include span-columns(2);
          }
        }
      }

      div.cci-br-status-header {
        @include span-columns(1.5);
        height: $header-row-height;

        > div {
          @include cell-padding();
          @include vertical-align();
        }
      }
    }

    div.cci-br-common {
      @include span-columns(10.5);
      @include clearfix;

      div.cci-br-summary {
        height: $row-height;
        > div {
          @include cell-padding();
          @include vertical-align();

          &:nth-child(1) {
            padding-left: 30px;
            @include span-columns(2);
          }
          &:nth-child(2) {
            @include span-columns(1.5);
          }
          &:nth-child(3) {
            @include span-columns(2.5);
          }
          &:nth-child(4) {
            @include span-columns(6);
          }

          &.cci-br-changelist-cell {
            @include header-text();
          }

          &.cci-br-step-info {
            @include clearfix;
            @include vertical-align();
            @include cell-padding();

            vertical-align: middle;

            div.cci-br-step-wrapper {
              display: block;
              float: left;
              width: 40px;
              height: 40px;
              background-color: $status-default-color;
              border-radius: 20px;
              z-index: 10;

              div {
                width: 28px;
                height: 28px;
                border-radius: 14px;
                background: red;
                z-index: 19;
              }
            }

            div.cci-br-step-progress-wrapper {
              display: block;
              float:left;
              height: 16px;
              width: 50%;
              background-color: $status-default-color;
              margin-left: -20px;
              margin-right: -20px;
              z-index: 1;

              &:nth-child(2) {
                margin-left: -40px;
              }

              &:nth-child(4) {
                margin-right: -40px;
              }

              div {
                width: 100%;
                height: 10px;
                background: yellow;
                z-index: 9;
              }
            }
          }
        }
      }

      div.cci-br-detailed {
        @include clearfix;

        .cci-separator {
          .fa {
            font-size: 2em;
            color: $status-default-color;
          }
        }

        .status-icon {
          font-size: 1.2em;
        }

        > div {
          @include cell-padding();
          display: block;
          float: left;

          &.cci-br-build-info {
            margin-left: 25px;
            > div {
              display: block;
              float: left;

              &:nth-child(1) {
                width: 80px;
              }
              &:nth-child(2) {
                width: 40px;
              }
              &:nth-child(3) {
                width: 40px;
              }
            }
          }

          .cci-br-test-info {
            > div {
              display: block;
              float: left;

              &:nth-child(1) {
                max-width: 180px;
              }
              &:nth-child(2) {
                margin: 10px;
              }
              &:nth-child(3) {
                width: 50px;
              }
            }

            .cci-test-chart {
              background-color: $status-passed-color;
              width: 80px;
              height: 80px;
              border-radius: 50px;
            }

            .status-text {
              font-size: 1.4em;
            }
          }
        }
      }
    }

    div.cci-br-status {
      @include clearfix;
      @include span-columns(1.5);

      div.cci-br-summary {
        height: $row-height;
        > div {
          @include vertical-align();
          @include span-columns(12);

          &.cci-br-status-cell {
            @include header-text();
          }
        }

        span.fa {
          font-size: 1.5em;
        }
      }

      div.cci-br-detailed {
        height: $row-height;
        > div {
          @include vertical-align();
          @include span-columns(12);

          &.cci-br-status-cell {
            @include header-text();
          }
        }

        span.fa {
          font-size: 1.3em;
        }

        .cci-br-detailed {
          background: whitesmoke;
          border: 1px solid $status-default-color;
        }
      }
    }

  }
}
