.cci-br-detailed(ng-show='buildRun.isExpanded')
  div.cci-br-build-info
    div
      p Build
        span(ng-class='getStatusColorClass(buildRun.buildStep.status.code)')
          i(class='fa', ng-class='getStepStatusIconClass(buildRun.buildStep.status.code)')
      p {{buildRun.buildStep.timeStarted | date:'h:mm a'}}
    div
      div(ng-class='getStatusColorClass(buildRun.buildStep.configurations[0].status.code)')
        i(class='fa', ng-class='getStatusIconClass(buildRun.buildStep.configurations[0].status.code)')
      p
        a(ng-href='buildRun.buildStep.configurations[0].packageLink') {{buildRun.buildStep.configurations[0].name}}
    div
      div(ng-class='getStatusColorClass(buildRun.buildStep.configurations[1].status.code)')
        i(class='fa', ng-class='getStatusIconClass(buildRun.buildStep.configurations[1].status.code)')
      p
        a(ng-href='buildRun.buildStep.configurations[1].packageLink') {{buildRun.buildStep.configurations[1].name}}
  div
    i(class='fa fa-angle-right')
  div(test-step-detailed='', test-step='buildRun.unitTestStep')
  div
    i(class='fa fa-angle-right')
  div(test-step-detailed='', test-step='buildRun.functionalTestStep')
