div(ng-controller='BuildRunsController as ctrl')
  ul.cci-br-ul
    li.cci-br-li(class='cci-br-header')
      .cci-br-common-header
        div Changelist
        div Owner
        div Time Started
        div Build
        div Unit Test
        div Functional Test
      .cci-br-status-header
        div Status
    li.cci-br-li(ng-repeat='(key, buildRun) in runs', ng-class='ctrl.getStatusClass(buildRun)', ng-click='ctrl.expand(buildRun)')
      .cci-br-common
        .cci-br-summary
          div {{buildRun.changelist}}
          div {{buildRun.owner.name}}
          div {{buildRun.timeStarted  | date:'M / dd / yyyy @ h:mm a'}}
          .cci-br-step-info
            .cci-br-step-wrapper x
            .cci-br-step-progress-wrapper
              .cci-br-step-progress
            .cci-br-step-wrapper x
            .cci-br-step-progress-wrapper
              .cci-br-step-progress
            .cci-br-step-wrapper x
        .cci-br-detailed(ng-show='buildRun.isExpanded')
          div
            div
              p Build [v]
              p 3:14 am
            div
              div
              p
                a(href='#') debug
            div
              div
              p
                a(href='#') release
          div x
          div
            div
              p Unit Test [v]
              p 88%
            div
              div
            div
              p [] 342
              p [] 3
              p @ 4:30
          div x
          div
            div
              p Unit Test [v]
              p 88%
            div
              div
            div
              p [] 342
              p [] 3
              p @ 4:30
      .cci-br-status
        .cci-br-summary
          div {{buildRun.status}}
        .cci-br-detailed
          div {{buildRun.status}}
  
