div(ng-controller='BuildRunsController as ctrl')
  ul.cci-br-ul
    li.cci-br-li(class='cci-br-header')
      .cci-br-common-header
        div Changelist
        div Owner
        div Time Started
        div Build
        div Unit Test
        div Functional Test
      .cci-br-status-header
        div Status
    li.cci-br-li(ng-repeat='(key, buildRun) in runs', ng-class='ctrl.getStatusClassLi(buildRun.status.code)', ng-click='ctrl.expand(buildRun)')
      .cci-br-common
        .cci-br-summary
          div.cci-br-changelist-cell {{buildRun.changelist}}
          div {{buildRun.owner.name}}
          div {{buildRun.timeStarted  | date:'M / dd / yyyy'}} <i class="fa fa-clock-o"></i> {{buildRun.timeStarted  | date:'h:mm a'}}
          .cci-br-step-info
            .cci-br-step-wrapper
              div(ng-class='ctrl.getStatusColorClass(buildRun.buildStep.status.code)')
            .cci-br-step-progress-wrapper
              .cci-br-step-progress
            .cci-br-step-wrapper
              div
            .cci-br-step-progress-wrapper
              .cci-br-step-progress
            .cci-br-step-wrapper
              div
        div(build-run-detailed='', build-run='buildRun')
      .cci-br-status
        .cci-br-summary(ng-hide='buildRun.isExpanded')
          div(class='cci-br-status-cell', ng-class='ctrl.getStatusColorClass(buildRun.status.code)')
            span(class='fa', ng-class='ctrl.getStatusIconClass(buildRun.status.code)')
            |  {{buildRun.status.name}}
        .cci-br-detailed(ng-show='buildRun.isExpanded')
          div(class='cci-br-status-cell', ng-class='ctrl.getStatusColorClass(buildRun.status.code)')
            span(class='fa', ng-class='ctrl.getStatusIconClass(buildRun.status.code)')
            |  {{buildRun.status.name}}
  
